.navtab {
  padding-left: 70px;
  padding-bottom: 75px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navtab__title {
  display: flex;
  width: 129px;
  height: 36px;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #073042;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.navtab__title:hover {
  opacity: 0.7;
}

@media screen and (max-width: 769px) {
  .navtab {
    width: calc(100% - 88px);
    justify-content: center;
    margin: 0 auto;
    padding: 0 0 76px 0;
  }
}

@media screen and (max-width: 525px) {
  .navtab {
    padding: 0 0 30px 0;
  }
}